/* 
Document   : default
Created on : 11-mar-2009, 9:16:51
Author     : Easytel
Description:
Purpose of the stylesheet follows.
*/ /* default css */
body {
	background-color: white;
	font-family: Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 960px;
	margin: 10px auto;
	padding: 10px;
	background-color: #f1f1f1;
	
	
	border: 10px solid #ccc;
	padding: 10px 10px 20px 10px;
}


#login_logout {
	float: right;
	color: #999;
	font-size: smaller;
}

#nav {
	 width: 155px;
	 margin-top: 50px;
	 float: left;
}
.titulonav{   
   border-width: 1px;
   border-style: solid;
   border-color: #000000;
   font-size: 8pt;
   font-weight: bold;
   background-color: #999999;
   color: #ffffff;
   padding: 4px;
}

.cuerporec{
   margin-top: 4px;
   margin-right: 0pt;
   margin-bottom: 10px;
   margin-left: 0pt;
}

.cuerporec ul{
   margin-top: 5px;
   margin-right: 0px;
   margin-bottom: 20px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 1px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
   border-width: 1px;
   border-style: solid;
   border-color: #d7d7d7;
   padding: 1px 0 2px 2px;
   font-size: 8pt;
   padding-bottom: 2px;
   margin-top: 2px;
   margin-right: 0pt;
   margin-bottom: 2px;
   margin-left: 0pt;
   
}

.cuerporec a{
   text-decoration: none;
} 
#main {
	
	margin-left: 160px;
	width: 800px;
	height: auto;
}

#header {
	font-size: 12px;
	margin-bottom: 10px;
}

#footer {
	clear: both;
	padding-top: 40px;
	font-size: 9px;
}

/*Para la paginacion*/
ul {
	border: 0;
	margin: 0;
	padding: 0;
}

#pagination-clean li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}

#pagination-clean li,#pagination-clean a {
	border: solid 1px #DEDEDE margin-right :       2px;
}

#pagination-clean .previous-off,#pagination-clean .next-off {
	color: #888888 display :       block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

#pagination-clean .next a,#pagination-clean .previous a,#pagination-clean .first a,#pagination-clean .last a
	{
	font-weight: bold;
	border: solid 1px #FFFFFF;
}

#pagination-clean .active {
	color: #00000 font-weight :       bold;
	display: block;
	float: left;
	padding: 4px 6px;
}

#pagination-clean a:link,#pagination-clean a:visited {
	color: #0033CC display :       block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

#pagination-clean a:hover {
	text-decoration: none;
}

/*Para los mensajes de flash*/
#mensaje {
	background-position: 10px center;
	background-repeat: no-repeat;
	border: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 10px 0;
	padding: 15px 10px 15px 50px;
	position: relative;
	color: #4F8A10;
	background-color: #DFF2BF;
}